@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: Poppins, sans-serif;
    font-size: 1.2rem;
    color: black;
    min-height: 100vh;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}


.brand-logo{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    color: inherit;
    text-decoration: none;
}

.brand-logo-name{
    margin-left: 1rem;
}

.main-nav ul {
    display: flex;
    margin: 0;
    padding: 1.2em;
    list-style: none;
    background-color:#272A45;
    border-radius: 20px;
}
.main-nav a {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
}

.main-nav a:hover {
    color: grey;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.container {
    max-width: 2000px;
    margin: 0 auto;
    padding: 0 40px;
}

.block1 {
    position: absolute;
    background: linear-gradient(180deg, #b3f3ff 0%, #aec5ff 100%);
    height: 100vh;
    width: 70%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 40px;
    top: 700px;
    left: 13%;
  }

  .block2 {
      position: relative;
      background: #272A45;
      height: 100vh;
        width: 100%;
        border-radius: 40px;
    top: 20px;
    left: 10%;

  }

.title {
  font-weight: 500;
  font-size: 4vw;
  margin-bottom: 1rem;
    margin-top: 0;
width: 80%;
  }

.subtitle {
   font-weight: 500;
   font-size: 3vw;
   margin-bottom: 2rem;
   width: 80%;
}

.btn1{
    color: white;
    background: linear-gradient(180deg, #b3f3ff 0%, #aec5ff 100%);
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: .9rem;
    position: absolute;
    left: 15%;
    top: 80%;
}

.btn2{
    color: white;
    background: linear-gradient(180deg, #b3f3ff 0%, #aec5ff 100%);
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: .9rem;
    position: absolute;
    left: 70%;
    top: 80%;
}


.button a:hover {
    color: grey;
}

.title1 {
    font-weight: 500;
    font-size: 4vw;
    margin-bottom: 1rem;
      margin-top: 0;
  width: 80%;
  color: white;
  display: flex;
  align-items: center;
  position: absolute;
  left: 20%;
  top: 5%;
    }

.subtitle1 {
    font-weight: 500;
    font-size: 2vw;
    margin-bottom: 2rem;
    width: 40%;
    color: white;
    display: flex;
    text-align: center;
    position: absolute;
    left: 10%;
    top: 30%;
 }

 .subtitle2 {
    font-weight: 500;
    font-size: 2vw;
    margin-bottom: 2rem;
    width: 40%;
    color: white;
    display: flex;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 30%;
 }
